<table class="comments">
  <tr>
<% book.post_comments.each do |post_comment| %>
  <td>
    <%= attachment_image_tag book.user, :profile_image, size: "50x50", fallback: "no-image-icon.jpg" %><br>
    <%= post_comment.user.name %>
  </td>
  <td>
    <%= post_comment.comment %>
    <%= link_to 'Destroy', book_post_comment_path(book), method: :delete, class: "btn btn-sm btn-danger" %>
  </td>
<% end %>
  </tr>
</table>
<table class="new-comment">
<%= form_with(model:[book, post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</table>